@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
:root {
  --blue: rgb(31, 168, 231);
  --green:rgb(4, 214, 4);
}
body {
  margin: 0;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}

* {
  box-sizing: border-box;
}

.custom-box {
  max-width: 800px;
  background-color: #ffffff !important;
  box-shadow: 2px 2px 4px #ccc, -2px -2px 4px #ccc;
  margin: 30px auto;
  padding: 30px 40px 50px 40px;
  border-radius: 10px;
}
.custom-box h1 {
  font-size: 2.4rem;
  color: skyblue;
}
.quiz-result-heading {
}
.quiz-home-box {
  text-align: center;
  display: none;
}

.quiz-home-box .category-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-text {
  color: #058c9e;
}

.quiz-home-box .category-box div {
  background-color: rgb(241, 251, 255);
  border: 2px solid var(--blue);
  padding: 14px 15px;
  text-transform: capitalize;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: rgb(59, 59, 59);
  margin-top: 30px;
  flex-basis: calc(50% - 20px);
  max-width: calc(50% - 20px);
}

.quiz-home-box h1 {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: var(--blue);
  margin: 0 0 10px;
}
.quiz-home-box img{
  width: 150px;
  height: 150px;
}

.quiz-box{
  position: relative;
}
.quiz-box img {
  width:150px;
  height: 150px;
  margin-left:40% ;
}

.quiz-box > h2 {
  width: 35%;
  position: absolute;
  top: 10px;  
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500; 
  color: gray;
  
}
.per-question-timer{
  position:absolute;
  left: 30px;
  top: 13.1rem;
  font-style:normal !important;
  color:  var(--blue) !important;
  font-size:1.5rem !important; 
  border:solid 2px var(--blue);   
padding:10px;
width:65px;
text-align:center;
  border-radius: 50%;
  /* display:none; */

}
.per-question-result{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 40px;
  border: solid 1px #ccc;
  
}
.res-data{

color: #058c9e;
font-size: 1.2rem;
}
.quiz-box > h2 > span{
  color:var(--blue);
}
.quiz-home-box h3 {
  font-family: sans-serif;
  letter-spacing: 1.2px;
}

.quiz-home-box.show {
  display: block;
  animation: fadeInRight 1s ease;
}

/*@keyframes fadeInRight{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}*/

/* username input class styling */
.username-control-input {
  width: 80%;
  margin: 1.3rem auto;
  padding: 10px 12px;
  outline: none;
  box-shadow: 1px 1px 4px inset #ccc, -1px -1px 4px inset #ccc;
  border-radius: 10px;
  border: solid 1px transparent;
  text-transform: uppercase;
  font-size: 1rem;
  background: transparent;
  transition: all 0.8s;
}
.username-control-input::placeholder {
  font-size: 0.9rem;
}
.username-control-input:focus {
  border: solid 1px var(--blue);
  box-shadow: none;
}

.user-btn {
  margin-left: 12px;
  padding: 10px 12px;
  width: 100px;
  background: var(--blue);
  color: #fff;
  border: solid 2px transparent;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
}
.user-btn:hover {
  color: var(--blue);
  background: transparent;
  border-color: var(--blue);
}
.quiz-home-box h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(58, 57, 57);
  margin: 0 0 30px;
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 12px;
}

.btn {
  background-color: #d1f0f8;
  border: 2px solid var(--blue);
  padding: 14px 40px;
  background: var(--blue);
  color: #fff;
  font-size: 20px;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  white-space: nowrap;
  margin: 0 10px;
}

.btn:focus {
  outline: none;
}

.quiz-box {
  background-color: #ebd8b7;
  display: none;
}

.quiz-box h1 {
  margin: 0 0 15px;
  text-align: center;
  font-size: 24px;
  color: #ccc;
  font-weight: 500;
  /*color: #f85943;*/
}

.quiz-box.show {
  display: block;
  animation: fadeInRight 1s ease;
}

.quiz-box .stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
}

.quiz-box .stats .quiz-time {
  flex-basis: calc(50% - 20px);
  max-width: calc(50% - 20px);
  /*background-color: red;*/
  text-align: left;
}

.quiz-box .stats .time-up-text {
  /*display: inline-block;*/
  color: #d23723;
  font-weight: 500;
  font-size:1.8rem;
  display: none;
  position: absolute;
  top: 33px;
  right: 160px;
}

.quiz-box .stats .time-up-text.show {
  display: inline-block;
  animation: fadeInOut 1s linear infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.name{
  font-family: sans-serif;
  color: var(--blue);
  animation-name: move;  
  animation-duration:5s; 
  animation-iteration-count: infinite;
    
}

@keyframes move{
  0%{text-shadow:none;}
  50%{text-shadow: 0.5px 0.5px 2px var(--blue), -0.5px -0.5px 2px var(--blue);}  
  100%{text-shadow: none;}
}

.quiz-box .stats .quiz-time .remaining-time {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15%;
  color: var(--blue);
  border: 2px solid var(--blue);
  font-weight: 800;
  line-height: 56px;
  border-radius: 4px;
  padding: 1px 6px; 
  text-align: center;
  display: inline-block;
}

.quiz-box .stats .quiz-time .remaining-time.less-time {
  color: #d23723;
  border-color: #d23723;
}

.quiz-box .stats .score-board {
  flex-basis: calc(50% - 20px);
  max-width: calc(50% - 20px);
  /*background-color: blue;*/
  text-align: right;
}

.quiz-box .stats .score-board .correct-answers {
  font-weight: 800;
}

.quiz-box .question-box {
  background-color: #ffffff;
  padding: 40px 30px;
  margin-top: 40px;
  border-radius: 10px;
  border: 2px solid #c2af91;
  text-align: center;
  position: relative;
}

.quiz-box .question-box .current-question-num {
  height: 70px;
  width: 70px;
  background-color: #ffffff;
  border: 2px solid var(--blue);
  font-size: 25px;
  font-weight: 800;
  color: var(--blue);
  border-radius: 50%;
  line-height: 68px;
  text-align: center;
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -35px;
  z-index: 1;
}

.quiz-box .question-box .question-text {
  font-size: 1.5rem;
  font-family: sans-serif;
  letter-spacing: 1.3px;
  color: #111;
}

.quiz-box .option-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quiz-box .option-box .option {
  background-color: #ffffff;
  flex-basis: calc(50% - 20px);
  max-width: calc(50% - 20px);
  margin-top: 30px;
  padding: 14px 14px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  opacity: 0;
  animation: zoomIn 0.3s linear forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.quiz-box .option-box .option.already-answered {
  pointer-events: none;
}

.quiz-box .option-box .option.show-correct {
  background-color: var(--green);
  border-color: var(--green);
  color: #ffffff;
  transition: all 0.3s ease;
}

.quiz-box .option-box .option.correct {
  background-color: var(--green);
  border-color: var(--green);
  color: #ffffff;
  opacity: 1;
  animation: pulse 1s linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.quiz-box .option-box .option.correct::before {
  content: "";
  position: absolute;
  background-color: var(--blue);
  height: 30px;
  width: 30px;
  right: 15px;
  top: 10px;
  background: var(--green);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  animation: fadeInRight 0.5s linear;
}

.quiz-box .option-box .option.wrong {
  background-color: #f85943;
  border-color: #d23723;
  color: #ffffff;
  opacity: 1;
  animation: shake 1s ease;
}

.quiz-box .option-box .option.wrong::before {
  content: "";
  position: absolute;
  background-color: #f85943;
  height: 30px;
  width: 30px;
  right: 15px;
  top: 10px;
  background-image: url("/static/img/wrong.png");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  animation: fadeInRight 0.5s linear;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes shake {
  0%,
  30%,
  50% {
    transform: translateX(10px);
  }
  20%,
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(-7px);
  }
  70% {
    transform: translateX(7px);
  }
  80% {
    transform: translateX(-4px);
  }
  90% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0px);
  }
}

.quiz-box .answer-description {
  background-color: #ffffff;
  border: 2px solid #c2af91;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  color: #555555;
  display: none;
}

.quiz-box .answer-description.show {
  display: block;
  animation: fadeInRight 1s ease;
}

.quiz-box .next-question {
  margin-top: 20px;
  text-align: center;
}

.see-result-btn,
.next-question-btn {
  display: none;
}

.see-result-btn.show,
.next-question-btn.show {
  display: inline-block;
  animation: fadeInRight 1s ease;
}

.quiz-over-box {
  text-align: center;
  display: none;
}

.quiz-over-box.show {
  display: block;
  animation: fadeInRight 1s ease;
}

.quiz-over-box h1 {
  font-size: 50px;
  font-family: "Concert One", cursive;
  color: #f85943;
  margin: 0 0 30px;
}

.quiz-over-box h4 {
  font-size: 25px;
  font-weight: normal;
  color: #444444;
  margin: 15px 0 20px;
}

.quiz-over-box h4 span {
  font-weight: 800;
  color: #111111;
}

.start-again-quiz.btn,
.go-home-btn {
  margin-top: 15px;
}
